
/* Header Area */
.nav_bar{
    display: flex;
}

.header_main{
    display: flex;
}

/* About Area  */
.about_area_info{
    display: flex;
}

/* skill Area */
.skill_part{
    display: flex;
}

/* Summary Area */
.summary_resume{
    display: flex;
}

/* Footer Area */
.footer_area{
}

.form_control{
    display: block;
}